.node--type-documento-secretaria.node--view-mode-full {
   > .node__content {
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;

      .layout__region--content {
         > .block:not(.block-field-blocknodedocumento-secretariafield-relacionados):not(.block-field-blocknodedocumento-secretariafield-documento-adjunto-publico):not(.block-field-blocknodedocumento-secretariafield-adjunto) {
            @include main-container;
            padding: 0 70px !important;

            @include breakpoint(mobile-large) {
               padding: 0 40px !important;
            }

            @include breakpoint(mobile-small) {
               padding: 0 20px !important;
            }
         }

         .block-field-blocknodedocumento-secretariafield-relacionados {
            // padding: 0 70px;
            > .field {
               @include main-container;
               padding: 0 70px !important; 

               @include breakpoint(mobile-large) {
                  padding: 0 40px !important;
               }

               @include breakpoint(mobile-small) {
                  padding: 0 20px !important;
               }

               .field__item {
                  min-width: 150px;
                  margin-top: 24px;
                  padding-left: 22px;
                  position: relative;

                  @include breakpoint(mobile-middle) {
                     margin-top: 15px;
                     width: 100%;
                     min-width: unset;
                  }

                  &:not(:last-child) {
                     margin-right: 70px;

                     @include breakpoint(mobile-middle) {
                        margin-right: 30px;
                     }
                  }

                  .file {
                     margin-bottom: 5px;
                     position: relative;
                     a {
                        @include title-fz-18-lh-25-fw-600;
                        display: inline-block;
                        color: $color-1;
                        position: relative;
                        
                        &:before {
                           position: absolute;
                           content: '';
                           left: -20px;
                           top: 5px;
                           width: 11px;
                           height: 14px;
                           background: url('../../assets/images/icon-file.svg') no-repeat center center;
                        }

                        @include breakpoint(mobile-middle) {
                           font-size: 16px;
                           line-height: 20px;
                        }
                     }
                  }

                  .file-size, .file-extension {
                     @include label-fz-12-lh-16-upper;
                     color: $color-76;
                  }

                  > a {
                     line-height: 24px;
                     font-size: 1em;
                     font-weight: 400;
                  }
               }

               .field__label {
                  @include h3;
                  color: $color-1;
                  margin-bottom: 24px;

                  @include breakpoint(mobile-middle) {
                     font-size: 20px;
                     line-height: 24px;

                  }
               }
            }
         }

         .block-field-blocknodedocumento-secretariafield-documento-adjunto-publico,
         .block-field-blocknodedocumento-secretariafield-adjunto {
            padding-left: 30px;
         }
      }
   }
}
