.paragraph--type--title-and-text {
  margin-bottom: 56px;

  .field--name-field-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .field--name-field-text {
    line-height: 30px;
  }
}