@mixin link-icon-pdf {
  background-repeat: no-repeat;
  background-image: url(../../../assets/images/icon-file.svg) !important;
  background-size: 16px 16px;
  background-position: left 0 top 0 !important;
}