/* Colors */
$blue: #5fbcd5;
$blue-hover: #3D99B1;
$red: #C65547;
$shadow-color: #E0E0E0;

$color-1: #111111;
$color-2: #222222;
$color-76: #767676;
$color-A: #AAAAAA;
$color-C: #CCCCCC;
$color-E6: #E6E6E6;
$color-F2: #F2F2F2;
$color-F7: #F7F7F7;